<mat-card>
  <mat-card-header><h2>User List</h2></mat-card-header>
  <mat-card-content>
    <table mat-table>
      <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody *ngFor="let user of users">
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <button mat-raised-button color="secondary" (click)="remove(user.id)"
                  *ngIf="user.id" type="button">Delete
          </button>
          <button mat-raised-button color="secondary" (click)="showUser(user.id)"
                  *ngIf="user.id" type="button">Show User JSON
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" routerLink="/register">Register User</button>
  </mat-card-footer>
</mat-card>

